* {
     /* font-family: Times New Roman; */
     font-family: 'Indie Flower', cursive;
     text-align: center;
    
} 

/* background color : 031428 */
h1 {
     font-size: 54px;
     font-weight: bold;
     text-allign: center;
     color: white;
     background: #0000A0
}

.instruction {
     font-size: 26px;
     color: white;
     background: #0000A0;
}

.button {
     font-size: 34px;
     color: black;
     background: #0000A0;
}
